<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Sửa Đơn Hàng</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #ced4da;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/customers">Khách Hàng </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donhang">Đơn Hàng</a>
      </li>
    </ul>

  </div>
</nav>
     <div class="mt-4 container">
    <h3>Sửa Đơn Hàng</h3>
    <form th:action="@{/donhang/save_edit}" th:object="${donhang}"
            method="post">
        <div class="form-group">
            <label >ID</label>
            <input type="text" class="form-control" th:field="*{iddonhang}" readonly="readonly">
        </div>
        <div class="form-group">
            <label >Tên Khách Hàng</label>
            <input type="text" class="form-control" th:field="*{tenkhachhang}" readonly="readonly">
        </div>
        <div class="form-group">
            <label >Tên Mặt Hàng</label>
            <input type="text" class="form-control" th:field="*{tenmathang}" id="tenmathang-input">
            <span style="color:red" th:text="${error_tenmathang}"id="tenmathang-input-error"></span>
        </div>
        <div class="form-group">
            <label > Số Lượng </label>
            <input type="text" class="form-control" th:field="*{soluong}" id="soluong-input">
            <span style="color:red" th:text="${error_soluong}" id="soluong-input-error"></span>
        </div>
        <button type="submit" class="btn btn-primary" id="btn-edit-donhang">Sửa Đơn Hàng</button>
    </form>
</div>
</body>
</html>